{% extends 'admin_base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid pt-5 pb-5" style="background: white;">
  <div class="main-body">
      <div class="row-lg-4">
        <div class="col-lg-4">
        {% for profile in customer %}
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <div class="mt-3">
                <h4>{{ profile.cust_user.first_name }} {{ profile.cust_user.last_name }}</h4>
                <p class="text-secondary mb-1">{{ profile.cust_mobile }}</p>
                <p class="text-muted font-size-sm">{{ profile.cust_user.email }}</p>
                <p class="text-muted font-size-sm">{{ profile.cust_address }} <br>{{ profile.cust_city }} {{ profile.cust_state }} {{ profile.cust_pincode }}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}