{% extends 'base.html' %}
{% load static %}
{% block title%}ELECTRONICS{% endblock title %}
{% block main-content %}

<div class="container-fluid" style="background: #CCFFFF;; padding: 2rem;">

        <div class="m-3 pt-2">
          <h3 class="fw-bold ">ALL ELECTRONICS </h3>
       </div>
       
        <div class="col-sm-12 pt-5 pb-3">
            <div class="row">
                {% for e in electronics %}
                <div class="col-sm-3 mb-5">
                    <div class="card shadow">
                    <a href="{% url 'product_view' e.id %}" class="btn"><img src="{{ e.prdt_image.url }}" alt="" height="250px" class="card-img-top"></a>
                    <div class="card-body">
                        <h6 class="fw-bold card-text text-truncate">{{ e.prdt_brand }}</h6>
                        <p class="card-text text-truncate">{{ e.prdt_title }}</p>
                    </div>
                    <div class="card-footer">
                        <small class="fw-bold text-decoration-line-through">Rs. {{ e.prdt_selling_price }}</small><br><span class="fs-5 fw-bold">Rs. {{ e.prdt_discounted_price }}</span>
                    </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock main-content %}